/* navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #000000;
    padding:0.3rem 1rem; /* Reduce the vertical padding */
  }

  .navbar-logo {
    height: 50px; /* Or your preferred size */
    cursor: pointer;
  }

  .navbar button {
    padding: 2px 20px; /* Reduce the vertical padding to make buttons narrower */
    font-size: 1.4rem; /* Existing style */
    margin: 0 15px; /* Existing style */
    cursor: pointer; /* Existing style */
    border: 1px solid transparent; /* Existing style */
    background-color: transparent; /* Existing style */
    color: white; /* Existing style */
    border-radius: 5px; /* Existing style */
    transition: background-color 0.3s, transform 0.3s; /* Existing style */
}

.navbar button:hover {
    background-color: transparent; /* Darken button background on hover */
    transform: scale(1.05); /* Slightly increase button size on hover */
    color: rgb(54, 133, 219);
}

.navbar button:active {
    transform: scale(0.95); /* Slightly decrease button size when clicked */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack buttons vertically on smaller screens */
        height: auto; /* Adjust height for mobile to fit content */
    }

    .navbar button {
        margin: 10px 0; /* Adjust margin for vertical stacking */
    }
}

.navbar-links button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
  }

.navbar-links button:hover {
    text-decoration: underline;
  }
